[submodule "rust-bitvmx-client"]
	path = rust-bitvmx-client
	url = ../rust-bitvmx-client
	branch = main
[submodule "rust-bitvmx-key-manager"]
	path = rust-bitvmx-key-manager
	url = ../rust-bitvmx-key-manager
	branch = main
[submodule "rust-bitvmx-protocol-builder"]
	path = rust-bitvmx-protocol-builder
	url = ../rust-bitvmx-protocol-builder
	branch = main
[submodule "rust-p2p-handler"]
	path = rust-p2p-handler
	url = ../rust-p2p-handler
	branch = main
[submodule "rust-bitcoin-coordinator"]
	path = rust-bitcoin-coordinator
	url = ../rust-bitcoin-coordinator
	branch = main
[submodule "rust-bitvmx-storage-backend"]
	path = rust-bitvmx-storage-backend
	url = ../rust-bitvmx-storage-backend
	branch = main
[submodule "rust-bitvmx-transaction-dispatcher"]
	path = rust-bitvmx-transaction-dispatcher
	url = ../rust-bitvmx-transaction-dispatcher
	branch = main
[submodule "rust-bitvmx-transaction-monitor"]
	path = rust-bitvmx-transaction-monitor
	url = ../rust-bitvmx-transaction-monitor
	branch = main
[submodule "rust-p2p-protocol"]
	path = rust-p2p-protocol
	url = ../rust-p2p-protocol
	branch = main
[submodule "rust-bitcoin-indexer"]
	path = rust-bitcoin-indexer
	url = ../rust-bitcoin-indexer
	branch = main
[submodule "rust-bitvmx-bitcoin-rpc"]
	path = rust-bitvmx-bitcoin-rpc
	url = ../rust-bitvmx-bitcoin-rpc
	branch = main
[submodule "rust-bitvmx-settings"]
	path = rust-bitvmx-settings
	url = ../rust-bitvmx-settings
	branch = main
[submodule "BitVMX-CPU"]
	path = BitVMX-CPU
	url = ../BitVMX-CPU
	branch = main
[submodule "rust-bitvmx-job-dispatcher"]
	path = rust-bitvmx-job-dispatcher
	url = ../rust-bitvmx-job-dispatcher
	branch = main
[submodule "rust-bitvmx-broker"]
	path = rust-bitvmx-broker
	url = ../rust-bitvmx-broker
	branch = main
[submodule "rust-bitvmx-musig2"]
	path = rust-bitvmx-musig2
	url = ../rust-bitvmx-musig2
[submodule "rust-bitcoind"]
	path = rust-bitcoind
	url = ../rust-bitcoind
[submodule "bitvmx-test-coordination-system"]
	path = bitvmx-test-coordination-system
	url = ../bitvmx-test-coordination-system
	branch = main
[submodule "rust-fakep2p"]
	path = rust-fakep2p
	url = ../rust-fakep2p
[submodule "rust-bitvmx-zk-proof"]
	path = rust-bitvmx-zk-proof
	url = git@github.com:FairgateLabs/rust-bitvmx-zk-proof.git
